<!DOCTYPE html>
<html lang="en_NS">

<head>
  <title>example</title>
  <link rel="icon" type="image/x-icon" href="../assets/nonbinary.ico">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../colors.css">
  <link rel="stylesheet" href="../subpage.css">
<style>

:root {
  --accent: var(--sky) !important;
  --accent-alt: color-mix(in oklab, var(--accent) 80%, var(--overlay2)) !important;
}

</style>
</head>

<body>
  <div class="container">
    <aside class="background">
      <p class="background_stars"></p>
      <p class="background_scanLines"></p>
    </aside>
    <div class="jank">
      <div class="back_flexbox">
        <a href="../index.html"><div id="back_button">
          <p>back</p>
        </div></a>
      </div>
      <div class="article_flexbox">
        <div class="article_container">
          <div id="header">
            <p id="header_text">example/example</p>
          </div>

          <p class="divider"></p>
          <p class="text">Example :3</p>

        </div> <!-- .article_container -->

      </div> <!-- .article_flexbox -->
    </div> <!-- .jank -->
  </div>
</body>
</html>
